<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp QR Code Scanner</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    #app {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f1f1f1;
    }

    .chat-container {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      width: 300px;
      padding: 20px;
    }

    .qr-code {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border: 2px solid #ccc;
      border-radius: 8px;
    }

    .status {
      text-align: center;
      margin-top: 10px;
      color: #888;
    }
    .check-symbol {
        width: 200px;
        height: 200px;
        background-color: #12CD6A;
        border-radius: 8px;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .check-symbol h1 {
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div id="app">
    <div class="chat-container">
      <h2>Escanear QR Code do WhatsApp</h2>
      <div class="qr-code" id="qrcode"></div>
      <div class="check-symbol">
        <i class="fas fa-check fa-2xl"></i>
        <h1>Conectado!</h1>
      </div>
      <div class="status" id="status">Aguardando o QR Code...</div>
    </div>
  </div>
  <script>
    const socket = io();
    const checkSymbol = document.querySelector('.check-symbol');
    const statusElement = document.getElementById('status')
    const qrcodeDiv = document.getElementById('qrcode');

    // Função para gerar o QR Code usando a biblioteca QRCode.js
    function generateQRCode(code) {
      if (!qrcodeDiv) return;

      qrcodeDiv.innerHTML = ''; // Limpa o conteúdo anterior, se houver

      const qrcode = new QRCode(qrcodeDiv, {
        text: code,
        width: 200,
        height: 200,
      });
    }

    // Evento para receber o código e atualizar o QR Code
    socket.on('code', (data) => {
      if (data && data.code) {
        generateQRCode(data.code);
        statusElement.innerText = 'Escaneie o QRCode! Aguardando a conexão...';
      }
    });

    // Evento para verificar quando estiver conectado
    socket.on('ready', () => {
      checkSymbol.style.display = 'flex';
    qrcodeDiv.remove()
      statusElement.innerText = 'Conectado!'
    });
  </script>
</body>
</html>
